<nz-card class="card">
    <div class="title">
        <strong> Bookings </strong>
    </div>
</nz-card>

<div class="content">
    <nz-table #bookingTable [nzData]="listOfBookings">
        <thead>
            <tr>
                <th> Name </th>
                <th> Phone </th>
                <th> Date/Time </th>
                <th> Duration </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of bookingTable.data">
                <td> {{ data.name }} </td>
                <td> {{ data.phone }} </td>
                <td> {{ data.date }} </td>
                <td> {{ data.duration }} </td>
            </tr>
        </tbody>
    </nz-table> 
</div>
