.card {
    width: 50%;
    height: 70%;
    opacity:.9;
    background-image: url('../../../assets/images/logo2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    margin-left: 25%;
}

.buttons {
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

.primary {
    margin-bottom: 5%;
}

.default {
    
}