.content {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 30%;
  }
  
  .card {
    max-width: 100%;
  }
  
  .header {
    margin-bottom: 2%;
  }
  .practice-form {
    max-width: 100%;
  }
  
  .practice-button {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  