 .content {
    margin-left: 25%;
    margin-right: 30%;
}
.logo {
  width: 50%;
  height: 50%;
  opacity:.9;
  background-image: url('../../../../assets/images/logo1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color:transparent;
  margin-left: 25%;
}

.card {
    max-width: 100%;
    margin-top: 10%;
}

.header {
    margin-bottom: 2%;
}
.login-form {
    max-width: 100%;
  }

  .doctor-room-forgot {
    float: right;
  }

  .doctor-room-button {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }